<!DOCTYPE html>
<html lang="en">

<head>
  <title>POST/insert plane</title>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../fontawesome/css/font-awesome.css">
</head>

<body>
  <div class="container">
    <h1><span class="badge badge-dark"> Insert plane</span></h1>
    <form id="insertform" name="form1" method="post">
      <div class="form-group">
        <label for="model">Model:</label><br />
        <input type="text" class="form-control" name="model" required /><br /><br />

        <label for="manufacturer">Manufacturer:</label><br />
        <input type="text" class="form-control" name="manufacturer" required /><br /><br />

        <label for="manufacturedAt">Manufactured At:</label><br />
        <input type="date" class="form-control" name="manufacturedAt" /><br /><br />

        <label for="trips">Trips:</label><br />
        <input type="number" class="form-control" name="trips" required /><br /><br />

        <input type="submit" class="btn btn-dark" value="Submit" />
      </div>
    </form>
    <a class="btn btn-dark" href="../index.html"> <i class="fa fa-home"></i> Home</a>
    <a class="btn btn-dark" href="getallplanes.html"> <i class="fa fa-plane"></i> All Planes</a>

  </div>

  <script src="../js/jquery-3.2.1.min.js"></script>
  <script src="../js/insertplane.js"></script>
</body>

</html>